@import "color";
.topline {
    position: relative;
    background-color: $gray;
    width: 100%;
    #kontakt {
        padding: 0;
        margin: 0;
        li {
            display: inline;
            a {
                float: left;
                width: 200px;
                padding: 10px;
                text-decoration: none;
                text-align: left;
                color: $white;
            }
        }
    }
    #lang {
        position: absolute;
        img {
            width: 20px;
            margin-left: -50px;
        }
        li {
            display: inline;
            a {
                position: relative;
                top: 0;
                float: right;
                width: 35px;
                padding: 10px;
                text-decoration: none;
                text-align: center;
                color: $white;
                transition: all ease 0.2s;
                &:hover {
                    top: 5px;
                }
            }
        }
    }
}

header {
    .logo {
        padding: 100px 0 100px 0;
        img {
            width: 300px;
        }
    }
}

nav {
    text-align: center;
    .menu {
        background-color: $gray;
        padding: 10px 25px;
        margin: 0;
        li {
            display: inline;
            a {
                text-decoration: none;
                text-align: center;
                height: 50px;
                background-color: $gray;
                color: $white;
                padding: 10px 25px;
                transition: all ease-in-out 0.4s;
                &:hover {
                    background-color: $blue;
                    /*color: $blue;*/
                    border-radius: 50px;
                }
            }
        }
    }
}

.slider {
    margin-top: 10px;
    img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}

.programs {
    //    padding: 50px 0 100px 0;
    margin: 25px 0 50px 0;
    text-align: center;
    #program {
        margin-bottom: 50px;
    }
    #programlist {
        text-align: center;
        img {
            width: 150px;
            height: 150px;
            margin-bottom: 20px;
            transition: all ease 0.2s;
            &:hover {
                transform: scale(1.1);
                box-shadow: 0 0 20px #bcbcbc;
            }
        }
        ul {
            li {
                display: inline;
                a {
                    float: left;
                    text-decoration: none;
                    text-align: center;
                    width: 120px;
                    padding: 0 35px 0 35px;
                    color: $blue;
                    p {
                        width: 100%;
                        padding: 0 10px 0 10px;
                        margin: 0;
                    }
                }
            }
        }
    }
}

.podjetju {
    background-color: $blue;
    padding: 100px 0 100px 0;
    color: $white;
    margin-bottom: 100px;
    img {
        height: 400px;
        width: 400px;
    }
    button {
        background-color: $white;
        color: $blue;
        transition: all ease-in-out 0.4s;
        &:hover {
            background-color: darken($white, 10%);
        }
    }
}

.reference {
    #reference {
        border-right: 2px solid $black;
        margin-right: -20px;
    }
    margin: 25px 0 25px 0;
    text-align: center;
    img {
        width: 120px;
        height: auto;
    }
    button {
        border-radius: 15px;
        a {
            color: $white;
            text-align: center;
            text-decoration: none;
            &:hover {
                
            }
        }
    }
}

footer {
    background-color: $black;
    .footer1 {
        padding: 50px 0 50px 0;
        color: $white;
        a {
            color: $white;
            text-decoration: none;
            text-align: justify;
            line-height: 40px;
            padding-left: 15px;
            font-size: 0.85rem;
            transition: all ease-in-out 0.4s;
            &:hover {
                color: $blue;
            }
        }
        p {
            font-size: 0.85rem;
            line-height: 20px;
        }
        img {
            width: 50px;
            height: auto;
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
}

.footer2 {
    padding: 10px;
    #footnote {
        li {
            display: inline;
            a {
                float: right;
                text-decoration: none;
                padding: 0 10px 0 10px;
                color: $black;
                transition: all ease 0.2s;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}